body{
	background-color: red;
}

.baslik{
	background-image: url('baslikarka.jpg');
	width: 1374px;
	height: 160px;
	margin: -8px;
	
}

.logo{
	margin: 10px 20px 10px 100px;
}

.Logoisim{
	font-family: Chalkduster,fantasy;
	font-size:30px;
	margin: -10px 20px 1px 75px;
	color:black;

}

.Baslikyazi1{
	font-family: Chalkduster,fantasy;
	font-weight: bold;
	font-size:35px;
	margin: -120px 20px 1px 500px;
	color:black;
}

.Baslikyazi2{
	font-family: Chalkduster,fantasy;
	font-weight: bold;
	font-size:45px;
	margin: 0px 20px 1px 710px;
	color:black;
}

.facebook{
	background-color: #B0E0E6;
	margin:8px 0px 0px 1256px;
	width: 55px;
	height: 50px;
}
.face{
	margin:10px;
	width: 30px;
	height: 30px;
}

.instagram{
	background-color: #B0E0E6;
	margin:-50px 0px 0px 1311px;
	width: 55px;
	height: 50px;
}

.insta{
	margin: 10px 10px 10px 0px;
	width: 30px;
	height: 30px;
}

.menu1{
	
	background-color: #B0E0E6;
	margin:-12px 0px 0px -8px;
	width: 1272px;
	height: 50px;
}

.menu ul {
	list-style: none;
}
.menu ul li {
	float: left;
}

.menu ul li a{
	margin:7px;
	padding:10px 25px 10px 25px;
	text-decoration:none;
	display:block;
	color:black;
	font:15px Verdana;
	font-weight: bold;
}
.menu ul li a:hover{
	background-color:DCDCDC;
	color: black;
	font-size:17px;
	padding:8px 25px 8px 25px;
	-webkit-transition-duration: 0.5s;
	box-shadow: inset 0 0 17px black;
}

.kenar {
	border-radius:10px;
}

